CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeSettings.json
Folder.DotSettings.user
CMakeLists.txt.user

.vs/
sln/
.vscode/
logs/
build/
bin/
b/
*.TMP